In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [9]:
# Import the API key.
from config import g_key

In [10]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [12]:
# 1. Import the WeatherPy_database.csv file. 

city_data_df = pd.read_csv("weather_data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Misratah,LY,2022-05-13 05:52:17,32.3754,15.0925,64.90,67,5,8.79,clear sky
1,1,Hofn,IS,2022-05-13 05:52:18,64.2539,-15.2082,36.30,59,100,22.30,overcast clouds
2,2,Los Llanos De Aridane,ES,2022-05-13 06:02:01,28.6585,-17.9182,62.35,91,75,6.91,broken clouds
3,3,Dmytrivka,UA,2022-05-13 05:52:19,45.9717,28.9864,74.34,53,2,7.67,clear sky
4,4,Christchurch,NZ,2022-05-13 05:58:04,-43.5333,172.6333,52.95,82,98,6.91,overcast clouds

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria i sill have no picture 
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

    # Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [15]:
#I dont know if this right 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Dmytrivka,UA,2022-05-13 05:52:19,45.9717,28.9864,74.34,53,2,7.67,clear sky
6,6,Butaritari,KI,2022-05-13 05:52:20,3.0707,172.7902,81.23,73,100,11.70,overcast clouds
7,7,Rikitea,PF,2022-05-13 06:02:03,-23.1203,-134.9692,76.64,74,10,20.58,clear sky
8,8,San Policarpo,PH,2022-05-13 06:02:03,12.1791,125.5072,84.76,70,44,11.68,scattered clouds
14,14,Tezu,IN,2022-05-13 05:52:24,27.9167,96.1667,71.28,97,100,5.17,light rain
19,19,Saint-Pierre,RE,2022-05-13 05:52:28,-21.3393,55.4781,79.92,57,75,9.22,broken clouds
22,22,Meulaboh,ID,2022-05-13 05:52:29,4.1363,96.1285,87.15,62,69,5.50,broken clouds
24,24,Puerto Ayora,EC,2022-05-13 05:52:30,-0.7393,-90.3518,71.55,96,21,6.35,few clouds
26,26,Arraial Do Cabo,BR,2022-05-13 05:52:31,-22.9661,-42.0278,72.66,75,92,8.57,overcast clouds
30,30,Lorengau,PG,2022-05-13 05:52:33,-2.0226,147.2712,84.81,64,86,6.46,overcast clouds

In [16]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                285
City                   285
Country                285
Date                   285
Lat                    285
Lng                    285
Max Temp               285
Humidity               285
Cloudiness             285
Wind Speed             285
Current Description    285
dtype: int64

In [17]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Dmytrivka,UA,2022-05-13 05:52:19,45.9717,28.9864,74.34,53,2,7.67,clear sky
6,6,Butaritari,KI,2022-05-13 05:52:20,3.0707,172.7902,81.23,73,100,11.70,overcast clouds
7,7,Rikitea,PF,2022-05-13 06:02:03,-23.1203,-134.9692,76.64,74,10,20.58,clear sky
8,8,San Policarpo,PH,2022-05-13 06:02:03,12.1791,125.5072,84.76,70,44,11.68,scattered clouds
14,14,Tezu,IN,2022-05-13 05:52:24,27.9167,96.1667,71.28,97,100,5.17,light rain
...,...,...,...,...,...,...,...,...,...,...,...
665,665,Batticaloa,LK,2022-05-13 06:05:16,7.7102,81.6924,89.40,58,54,3.20,broken clouds
667,667,Kununurra,AU,2022-05-13 06:05:17,-15.7667,128.7333,93.18,33,36,8.05,scattered clouds
671,671,Grand Gaube,MU,2022-05-13 06:05:19,-20.0064,57.6608,80.38,66,36,5.01,scattered clouds
673,673,Cotonou,BJ,2022-05-13 06:05:20,6.3654,2.4183,81.18,82,92,6.15,overcast clouds
685,685,Kon Tum,VN,2022-05-13 06:05:26,14.3500,108.0000,85.75,59,100,5.30,light rain

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()



# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Dmytrivka,UA,74.34,clear sky,45.9717,28.9864,
6,Butaritari,KI,81.23,overcast clouds,3.0707,172.7902,
7,Rikitea,PF,76.64,clear sky,-23.1203,-134.9692,
8,San Policarpo,PH,84.76,scattered clouds,12.1791,125.5072,
14,Tezu,IN,71.28,light rain,27.9167,96.1667,
19,Saint-Pierre,RE,79.92,broken clouds,-21.3393,55.4781,
22,Meulaboh,ID,87.15,broken clouds,4.1363,96.1285,
24,Puerto Ayora,EC,71.55,few clouds,-0.7393,-90.3518,
26,Arraial Do Cabo,BR,72.66,overcast clouds,-22.9661,-42.0278,
30,Lorengau,PG,84.81,overcast clouds,-2.0226,147.2712,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df[:10].iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    try:
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.

        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        params["location"] = f"{lat},{lng}"    

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json() 
       
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e : print(e)

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

In [25]:
# 7. Drop the rows where there is no Hotel Name.

hotel_df.dropna()
#hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Dmytrivka,UA,74.34,clear sky,45.9717,28.9864,
6,Butaritari,KI,81.23,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
7,Rikitea,PF,76.64,clear sky,-23.1203,-134.9692,People ThankYou
8,San Policarpo,PH,84.76,scattered clouds,12.1791,125.5072,Agapita M. Nicart
14,Tezu,IN,71.28,light rain,27.9167,96.1667,Circuit House
...,...,...,...,...,...,...,...
665,Batticaloa,LK,89.40,broken clouds,7.7102,81.6924,Grand Star Guest House
667,Kununurra,AU,93.18,scattered clouds,-15.7667,128.7333,Hotel Kununurra
671,Grand Gaube,MU,80.38,scattered clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
673,Cotonou,BJ,81.18,overcast clouds,6.3654,2.4183,Novotel Cotonou Orisha
685,Kon Tum,VN,85.75,light rain,14.3500,108.0000,Hoa đà spa- homestay

In [30]:
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!=""]

In [33]:
clean_hotel_df["Hotel Name"].value_counts()

Isles Sunset Lodge                         1
Puerto Rico Vacation Villas at Aquatika    1
Bungalow 63                                1
Leumerus Bungalows                         1
Sai Towers                                 1
                                          ..
Pension Oaoa                               1
Hongtian Hotel                             1
Desert Palms Alice Springs                 1
Bonthe Holiday Village                     1
Hoa đà spa- homestay                       1
Name: Hotel Name, Length: 260, dtype: int64

In [34]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Butaritari,KI,81.23,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
7,Rikitea,PF,76.64,clear sky,-23.1203,-134.9692,People ThankYou
8,San Policarpo,PH,84.76,scattered clouds,12.1791,125.5072,Agapita M. Nicart
14,Tezu,IN,71.28,light rain,27.9167,96.1667,Circuit House
19,Saint-Pierre,RE,79.92,broken clouds,-21.3393,55.4781,Alize Plage
...,...,...,...,...,...,...,...
665,Batticaloa,LK,89.40,broken clouds,7.7102,81.6924,Grand Star Guest House
667,Kununurra,AU,93.18,scattered clouds,-15.7667,128.7333,Hotel Kununurra
671,Grand Gaube,MU,80.38,scattered clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
673,Cotonou,BJ,81.18,overcast clouds,6.3654,2.4183,Novotel Cotonou Orisha
685,Kon Tum,VN,85.75,light rain,14.3500,108.0000,Hoa đà spa- homestay

In [35]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#End of Deleiverable 2

SyntaxError: invalid syntax (1701762513.py, line 1)